.header {
    padding: 2%;
    background-color: rgb(36, 36, 36);
    /* font-family: 'Brush Script MT', cursive; */
    font-family: 'Courier New';
    font-size: 50px;
    text-align: center;
    width: 96%;
    color: rgb(33, 255, 228);
 }
 
 .footer {
   padding: 2%;
    background-color: red;
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    text-align: center;
    width: 100%

 }
 
 .dashboard {
   padding: 3% 1%;
 }

h1 {
  text-align: center;
}

.display-board {
  width: 33%;
  background-color: rgb(17, 177, 209);
  padding: 0%;
}

.panel {
  width: 200%;
  background-color:rgb(186, 109, 221)
}

.number {
  color: rgb(255, 255, 255);
  font-size: 75px;
  font-family: 'Brush Script MT', cursive;
  text-align: center;
}

.mrgnbtm {
  margin-top: 20px;
}